antlr4-python3-runtime==4.8
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
Cython==0.29.22
dataclasses==0.6
fairseq==0.10.2
filelock==3.0.12
Flask==1.1.2
hydra-core==1.0.6
idna==2.10
importlib-resources==5.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.0
MarkupSafe==1.1.1
nltk==3.5
numpy==1.19.5
omegaconf==2.0.6
packaging==20.8
portalocker==2.2.1
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
sacrebleu==1.5.0
sacremoses==0.0.43
six==1.15.0
tokenizers==0.9.4
torch==1.7.1
tqdm==4.56.0
transformers==4.5.1
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
